<section id="about">
	<div class="media-right">
		<div class="media-text prose">
			<p>
				I'm an Assistant Professor in the <a href="https://pa.msu.edu/" target="_blank">Department of Physics and Astronomy</a> at Michigan State University (MSU), where I am a member of the <a href="https://pa.msu.edu/condensed-matter-physics/research-groups/index.aspx" target="_blank">condensed matter physics group</a>, the <a href="https://web.pa.msu.edu/cmt/" target="_blank">MSU Theory Center for Non-equilibrium Phenomena</a>, and <a href="https://msuq.natsci.msu.edu/" target="_blank">MSU-Q</a>.
			</p>

			<p>
				Before joining MSU, I worked with <a href="https://www.physics.harvard.edu/people/facpages/yao" target="_blank">Norman Yao</a> at Harvard, <a href="https://physics.mit.edu/faculty/liang-fu/" target="_blank">Liang Fu</a> at MIT, <a href="https://www.bu.edu/physics/profile/anushya-chandran/" target="_blank">Anushya Chandran</a> at Boston University, and <a href="https://profiles.ucl.ac.uk/34170-andrew-green" target="_blank">Andrew Green</a> at University College London.
			</p>

			<p>
				I work on a range of problems in quantum condensed matter and quantum information science. Please find a summary of my more established research directions below. 
			</p>
			<p>
				If you are interested in working with me, or in finding out what I am working on now, <a href="mailto:crowl131@msu.edu" target="_blank">please send me a message!</a>
			</p>
		</div>

		<div class="media-figure round">
			<img src="images/prof_pic.jpeg" alt="Photo of Philip Crowley" style="width: 180px; height: 180px;">
		</div>
	</div>
</section>