<section class="section" id="links">
<hr/>
<h2>Useful Links</h2>
<hr/>

      As a contribution to maintaining the <a href="https://otherinter.net/research/lore/" target="_blank">hyperlinked, branching rabbit holes</a> of the internet, here are some non-algorithmically-selected links I have found useful or interesting.

      <h3>Physics resources</h3>
<ul>
<li>
          Notes and resources that I have found useful at various stages of my trajectory
          <ul>
<li>
              General
              <ul>
<li><a href="https://phys.libretexts.org/Under_Construction/Arovas_Texts" target="_blank">Dan Arovas' LibreTexts</a></li>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/teaching.html" target="_blank">David Tong's notes</a></li>
<li><a href="https://pirsa.org/" target="_blank">PIRSA</a>, the Perimeter Institute recorded seminar [and lecture] archive</li>
<li><a href="https://online.kitp.ucsb.edu/" target="_blank">KITP online talks</a>, archive of recorded talks from the Kavli Institute for Theoretical Physics</li>
<li><a href="https://www.colorado.edu/conference/bss/previous-years">Previous Boulder summer schools</a>, many with lecture notes and recordings</li>
</ul>
</li>
<li>
              Thermo and stat mech
              <ul>
<li><a href="https://scalettar.physics.ucdavis.edu/p219a/ArovasStatMechnotes.pdf" target="_blank">Dan Arovas' notes on thermodynamics and statistical mechanics</a></li>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/statphys.html" target="_blank">David Tong's notes on statistical physics</a></li>
</ul>
</li>
<li>
              Quantum mechanics
              <ul>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/quantum.html" target="_blank">David Tong's lectures on quantum mechanics</a></li>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/topicsinqm.html" target="_blank">David Tong's lectures on topics in quantum mechanics</a></li>
<li><a href="https://www-thphys.physics.ox.ac.uk/people/JamesBinney/qb.pdf" target="_blank">James Binney and David Skinner's book on quantum mechanics</a></li>
</ul>
</li>
<li>
              Condensed matter
              <ul>
<li><a href="https://courses.physics.ucsd.edu/2020/Spring/physics239/LECTURES/CONDMAT.pdf" target="_blank">Dan Arovas' lecture notes on condensed matter physics</a></li>
<li><a href="https://courses.physics.ucsd.edu/2019/Spring/physics230/LECTURES/QHE.pdf" target="_blank">Dan Arovas' lecture notes on quantum hall effect</a></li>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/solidstate.html" target="_blank">David Tong's lectures on solid state physics</a></li>
<li><a href="https://www.damtp.cam.ac.uk/user/tong/qhe.html" target="_blank">David Tong's lectures on the quantum hall effect</a></li>
<li><a href="https://solidstate.quantumtinkerer.tudelft.nl/" target="_blank">Anton Akhmerov and Toeno van der Sar's open solid state notes</a></li>
<li><a href="https://topocondmat.org/" target="_blank">Anton Akhmerov, Jay Sau and Bernard van Heck's online course on topology in condensed matter</a></li>
<li><a href="https://www-thphys.physics.ox.ac.uk/people/SteveSimon/condmat2012/LectureNotes2012.pdf" target="_blank">Steve Simon's notes on solid state physics</a></li>
<li><a href="https://www-thphys.physics.ox.ac.uk/people/SteveSimon/topological2021/TopoBook-Sep28-2021.pdf" target="_blank">Steve Simon's notes on anyons and topological quantum field theories</a></li>
<li><a href="http://www-thphys.physics.ox.ac.uk/people/SteveSimon/QCM2022/QuantumMatter.pdf" target="_blank">Steve Simon's notes on superconductors, superfluids and Fermi liquids</a></li>
<li><a href="https://arxiv.org/pdf/cond-mat/9805275">Jan von Delft and Herbert Schoeller notes on Bosonization</a></li>
</ul>
</li>
<li>
              Quantum computation
              <ul>
<li><a href="https://www.preskill.caltech.edu/ph219/topological.pdf" target="_blank">John Preskill's notes on quantum computation</a>, and <a href="https://www.preskill.caltech.edu/ph229/notes/chap6.pdf" target="_blank">some other notes of his</a></li>
<li><a href="https://www.math.purdue.edu/~cui177/Lecture_Combined.pdf" target="_blank">Shawn Cui's notes on topological quantum computation</a></li>
</ul>
</li>
<li>
              Quantum error correction
              <ul>
<li><a href="https://users.physics.ox.ac.uk/~Steane/qec.html" target="_blank">Andrew Steane's notes on quantum error correction</a></li>
<li><a href="https://www.cs.umd.edu/class/spring2024/cmsc858G/QECCbook-2024-ch1-15.pdf" target="_blank">Daniel Gottesman's notes on quantum error correction and fault tolerance</a></li>
<li><a href="https://www.math.uwaterloo.ca/~wcleung/qic890-w2024.html" target="_blank">Debbie Leung and Michael Vasmer's notes on quantum error correction and fault tolerance</a></li>
<li><a href="https://drive.google.com/file/d/1AB0Kd5JV5TzqwvR4VysrJt-F3GVin2S4/view" target="_blank">Dan Browne's notes on topological codes and computation</a></li>
<li><a href="https://preetum.nakkiran.org/pdf/topo_qeccs.pdf" target="_blank">Part 1</a> and <a href="https://preetum.nakkiran.org/pdf/topo_qeccs2.pdf" target="_blank">part 2</a> of Preetum Nakkiran's notes on topological error-correcting codes</li>
<li><a href="https://arxiv.org/pdf/1311.0277">Héctor Bombín's introduction to topological quantum codes</a></li>
<li><a href="https://pirsa.org/c17045">Gottesman and Yoshida's IQC lecture series on quantum error correction</a></li>
<li><a href="https://errorcorrectionzoo.org/">The error correction zoo</a>, a catalogue of error-correcting codes</li>
</ul>
</li>
<li>
              Misc
              <ul>
<li><a href="https://courses.physics.ucsd.edu/2018/Spring/physics220/LECTURES/GROUP_THEORY.pdf" target="_blank">Dan Arovas' lecture notes on group theory</a></li>
<li><a href="https://www2.math.upenn.edu/~wilf/gfology2.pdf" target="_blank">Herbert S. Wilf's notes on generating functions</a></li>
<li><a href="https://www-thphys.physics.ox.ac.uk/people/JohnChalker/theory-new.html" target="_blank">John Chalker, Andre Lukas and Fabian Essler's course notes on theoretical physics</a></li>
</ul>
</li>
</ul>
</li>
<li>
          Tools and resources
          <ul>
<li><a href="https://chemapps.stolaf.edu/jmol/jsmol/jpge/explore.htm" target="_blank">Jmol Point Group Explorer</a>, a useful visualisation tool for displaying point groups</li>
<li><a href="https://oeis.org/" target="_blank">The online encyclopedia of integer sequences</a>, useful for identifying what series by their expansions</li>
<li><a href="http://fisica.ciens.ucv.ve/~svincenz/TISPISGIMR.pdf" target="_blank">Gradshteyn and Ryzhik</a>, seems to know many integrals that mathematica does not</li>
<li><a href="https://apps.automeris.io/wpd4/" target="_blank">WebPlotDigitizer</a>, extract data from images by hand</li>
<li><a href="https://ar5iv.labs.arxiv.org/" target="_blank">ar5iv</a>, renders arxiv articles <ins></ins> html5</li>
<li><a href="https://dlmf.nist.gov/" target="_blank">NIST Digital Library of Mathematical Functions</a></li>
<li><a href="https://detexify.kirelabs.org/classify.html">Detexify</a>, hand draw latex symbols to find their corresponding latex command</li>
</ul>
</li>
<li>
          Scientific commentary
          <ul>
<li><a href="https://www.condmatjclub.org/" target="_blank">Journal club for condensed matter physics</a></li>
<li><a href="https://scirate.com/" target="_blank">SciRate</a></li>
</ul>
</li>
</ul>
<h3>Physicist resources</h3>
<ul>
<li>
<a href="https://unitary.foundation/" target="_blank">Unitary Foundation</a>,
          a quantum tech non-profit focused on microgrants, research, and community
        </li>
<li>
<a href="https://repository.aip.org/node/5540" target="_blank">AIP: Oral History Interviews</a>,
          a repository of interviews with well-known physicists
        </li>
<li>
          Blogs
          <ul>
<li><a href="https://scottaaronson.blog/" target="_blank">Scott Aaronson</a></li>
<li><a href="https://terrytao.wordpress.com/" target="_blank">Terry Tao</a></li>
<li><a href="https://gravityandlevity.wordpress.com/about/" target="_blank">Brian Skinner</a></li>
<li><a href="https://www.preposterousuniverse.com/blog/" target="_blank">Sean Carroll</a></li>
<li><a href="https://arthurpesah.me/" target="_blank">Arthur Pesah</a></li>
<li><a href="https://dom-kufel.github.io/" target="_blank">Dom Kufel</a></li>
</ul>
</li>
<li>
          Jobs
          <ul>
<li><a href="http://www.cmamorumors.org/doku.php" target="_blank">CM/AMO rumour mill</a>, faculty and postdoc job listings</li>
</ul>
</li>
<li>
          Advice for physicists
          <ul>
<li><a href="https://www.physicsforums.com/threads/so-you-want-to-be-a-physicist-a-22-part-guide.240792/" target="_blank">So You Want To Be A Physicist</a>, a 22-part guide</li>
<li><a href="https://terrytao.wordpress.com/career-advice/" target="_blank">Terry Tao</a>, and others — see “more advice”</li>
<li><a href="https://gravityandlevity.wordpress.com/2019/03/25/what-it-means-and-doesnt-mean-to-get-a-job-in-physics/" target="_blank">What it means, and doesn’t mean, to get a job in physics</a>, by Brian Skinner</li>
<li><a href="https://www.microsoft.com/en-us/research/academic-program/write-great-research-paper/">How to write a great research paper</a>, by Simon Peyton Jone</li>
<li><a href="https://www.science.org/doi/10.1126/science.177.4047.393">More is different, by Phil Anderson</a></li>
<li><a href="https://pitp.phas.ubc.ca/confs/7pines2009/readings/Anderson_Stamp_1.pdf">Some Thoughtful Words (not mine) on Research Strategy for Theorists, by Phil Anderson</a></li>
<li><a href="https://www.jstor.org/stable/40271302">Idealization and Modeling, by Robert Batterman</a></li>
</ul>
</li>
</ul>
</section>