<section class="section" id="papers">
<hr/>
<h2>Papers</h2>
<hr/>
<h3>Commentaries</h3>
<ul>
<li>
<a href="https://physics.aps.org/articles/v17/24" target="_blank">
            Constraining Many-Body Localization
          </a><br/>
          A Chandran, PJD Crowley<br/>
<em>Physics</em>, 17, 24 (2024)
        </li>
</ul>
<h3>Preprints</h3>
<ol reversed="" start="37">
<li>
<a href="https://doi.org/10.48550/arXiv.2512.19781" target="_blank">
            Theory of Scalable Spin Squeezing with Disordered Quantum Dipoles
          </a><br/>
          A Kaplan-Lipkin, PJD Crowley, JN Hallén, Z Wang, W Wu, S Chern, CR Laumann, L Pollet, NY Yao<br/>
<em>arXiv:2512.19781</em>
</li>
<li>
<a href="https://doi.org/10.48550/arXiv.2510.01306" target="_blank">
            Chiral quantum state circulation from photon lattice topology
          </a><br/>
          S Bandyopadhyay, A Chandran, PJD Crowley<br/>
<em>arXiv:2510.01306</em>
</li>
<li>
<a href="https://doi.org/10.48550/arXiv.2509.13969" target="_blank">
            Persistent Fluctuating Superconductivity and Planckian Dissipation in Fe (Te, Se)
          </a><br/>
          J Stensberg, P Tam, X Yuan, X Yao, H Yu, C Lee, A Chen, PJD Crowley, M Brahlek, I Takeuchi, S Oh, J Orenstein, C Kane, L Wu<br/>
<em>arXiv:2509.13969</em>
</li>
<li>
<a href="https://doi.org/10.48550/arXiv.2410.21408" target="_blank">
            Stability of sub-dimensional localization to electronic interactions
          </a><br/>
          N Paul, PJD Crowley<br/>
<em>arXiv:2410.21408</em>
</li>
<li>
<a href="https://doi.org/10.48550/arXiv.2206.02810" target="_blank">
            Non-power-law universal scaling in incommensurate systems
          </a><br/>
          L Yeo, PJD Crowley<br/>
<em>arXiv:2206.02810</em>
</li>
</ol>
<h3>Publications</h3>
<ol reversed="" start="32">
<li>
<a href="https://doi.org/10.1103/jqvz-kpwg" target="_blank">
            Observation of spin squeezing with contact interactions in one-and three-dimensional easy-plane magnets
          </a><br/>
          YK Lee, M Block, H Lin, V Fedoseev, PJD Crowley, NY Yao, W Ketterle<br/>
<em>Physical Review Letters</em>, 135(2), 023402 (2025)
        </li>
<li>
<a href="https://doi.org/10.1038/s41467-024-55432-2" target="_blank">
            Band structure engineering using a moiré polar substrate
          </a><br/>
          X Wang, C Xu, S Aronson, D Bennett, N Paul, PJD Crowley, K Yasuda, C Collignon, K Watanabe, T Taniguchi, R Ashoori, E Kaxiras<br/>
<em>Nature Communications</em>, 16(1), 178 (2025)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.110.174303" target="_blank">
            Absence of disordered Thouless pumps at finite frequency
          </a><br/>
          D Vuina, DM Long, PJD Crowley, A Chandran<br/>
<em>Physical Review B</em>, 110(17), 174303 (2024)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.132.246402" target="_blank">
            Directional Localization from a Magnetic Field in Moiré Systems
          </a><br/>
          N Paul, PJD Crowley, L Fu<br/>
<em>Physical Review Letters</em>, 132(24), 246402 (2024)
        </li>
<li>
<a href="https://doi.org/10.1126/science.adi6354" target="_blank">
            Ergodicity breaking in rapidly rotating C<sub>60</sub> fullerenes
          </a><br/>
          LR Liu, D Rosenberg, PB Changala, PJD Crowley, DJ Nesbitt, NY Yao, T Tscherbul, Jun Ye<br/>
<em>Science</em>, 381(6659), 778–783 (2023)
        </li>
<li>
<a href="https://doi.org/10.1038/s41586-023-06294-z" target="_blank">
            Superconductivity and strong interactions in a tunable moiré quasicrystal
          </a><br/>
          A Uri, SC de la Barrera, MT Randeria, D Rodan-Legrain, T Devakul, PJD Crowley, N Paul, K Watanabe, T Taniguchi, R Lifshitz, L Fu, RC Ashoori, P Jarillo-Herrero<br/>
<em>Nature</em>, 620, 762–767 (2023)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.131.106301" target="_blank">
            Phenomenology of the Prethermal Many-Body Localized Regime
          </a><br/>
          D Long, PJD Crowley, V Khemani, A Chandran<br/>
<em>Physical Review Letters</em>, 131(10), 106301 (2023)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.108.134303" target="_blank">
            Giant energy oscillations mediated by a quasiperiodically driven qubit
          </a><br/>
          D Vuina, DM Long, PJD Crowley, A Chandran<br/>
<em>Physical Review B</em>, 108(13), 134303 (2023)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.129.116804" target="_blank">
            Moiré Landau fans and magic zeros
          </a><br/>
          N Paul, PJD Crowley, T Devakul, L Fu<br/>
<em>Physical Review Letters</em>, 129(11), 116804 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.106.214526" target="_blank">
            Supercurrent induced resonant optical response
          </a><br/>
          PJD Crowley, L Fu<br/>
<em>Physical Review B</em>, 106(21), 214526 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.106.184208" target="_blank">
            Mean field theory of failed thermalizing avalanches
          </a><br/>
          PJD Crowley, A Chandran<br/>
<em>Physical Review B</em>, 106(18), 184208 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.106.144203" target="_blank">
            Coupled Layer Construction for Synthetic Hall Effects in Driven Systems
          </a><br/>
          D Long, PJD Crowley, A Chandran<br/>
<em>Physical Review B</em>, 106(14), 144203 (2022)
        </li>
<li>
<a href="https://doi.org/10.1088/1742-5468/ac815d" target="_blank">
            Critical behaviour of the quasi-periodic quantum Ising chain
          </a><br/>
          PJD Crowley, CR Laumann, A Chandran<br/>
<em>Journal of Statistical Mechanics: Theory and Experiment</em>, 083102 (2022)
        </li>
<li>
<a href="https://doi.org/10.1038/s41534-022-00580-w" target="_blank">
            Error measurements for a quantum annealer using the one-dimensional Ising model with twisted boundaries
          </a><br/>
          N Chancellor, PJD Crowley, T Durić, W Vinci, MH Amin, AG Green, PA Warburton, G Aeppli<br/>
<em>npj Quantum Information</em>, 8, 73 (2022)
        </li>
<li>
<a href="https://doi.org/10.21468/SciPostPhys.12.6.201" target="_blank">
            A constructive theory of the numerically accessible many-body localized to thermal crossover
          </a><br/>
          PJD Crowley, A Chandran<br/>
<em>SciPost Physics</em>, 12, 201 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.128.183602" target="_blank">
            Boosting the quantum state of a cavity with Floquet driving
          </a><br/>
          DM Long, PJD Crowley, A Kollár, A Chandran<br/>
<em>Physical Review Letters</em>, 128(18), 183602 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.105.144204" target="_blank">
            Many-body localization with quasiperiodic driving
          </a><br/>
          DM Long, PJD Crowley, A Chandran<br/>
<em>Physical Review B</em>, 105(14), 144204 (2022)
        </li>
<li>
<a href="https://doi.org/10.21468/SciPostPhys.12.3.103" target="_blank">
            Partial thermalisation of a two-state system coupled to a finite quantum bath
          </a><br/>
          PJD Crowley, A Chandran<br/>
<em>SciPost Physics</em>, 12, 103 (2022)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.126.106805" target="_blank">
            Nonadiabatic topological energy pumps with quasiperiodic driving
          </a><br/>
          DM Long, PJD Crowley, A Chandran<br/>
<em>Physical Review Letters</em>, 126(10), 106805 (2021)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevA.103.052427" target="_blank">
            Dissipative failure of adiabatic quantum transport as a dynamical phase transition
          </a><br/>
          F Barratt, AB Comas, PJD Crowley, V Oganesyan, P Sollich, AG Green<br/>
<em>Physical Review A</em>, 103(5), 052427 (2021)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.125.160505" target="_blank">
            Exploring 2D synthetic quantum hall physics with a quasiperiodically driven qubit
          </a><br/>
          E Boyers, PJD Crowley, A Chandran, AO Sushkov<br/>
<em>Physical Review Letters</em>, 125(16), 160505 (2020)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.125.100601" target="_blank">
            Half-Integer quantized topological response in quasiperiodically driven quantum systems
          </a><br/>
          PJD Crowley, I Martin, A Chandran<br/>
<em>Physical Review Letters</em>, 125(10), 100601 (2020)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevResearch.2.033262" target="_blank">
            Avalanche induced coexisting localized and thermal regions
          </a><br/>
          PJD Crowley, A Chandran<br/>
<em>Physical Review Research</em>, 2(3), 033262 (2020)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.100.134206" target="_blank">
            Quantum criticality in Ising chains with random hyperuniform couplings
          </a><br/>
          PJD Crowley, CR Laumann, S Gopalakrishnan<br/>
<em>Physical Review B</em>, 100(13), 134206 (2019)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.99.064306" target="_blank">
            Topological classification of quasi-periodically driven quantum systems
          </a><br/>
          PJD Crowley, I Martin, A Chandran<br/>
<em>Physical Review B</em>, 99(6), 064306 (2019)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevLett.120.175702" target="_blank">
            Quasiperiodic Quantum Ising Transitions in 1D
          </a><br/>
          PJD Crowley, A Chandran, CR Laumann<br/>
<em>Physical Review Letters</em>, 120(17), 175702 (2018)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.94.165135" target="_blank">
            Time Evolution and Deterministic Optimisation of Correlator Product States
          </a><br/>
          V Stojevic, PJD Crowley, T Durić, C Grey, AG Green<br/>
<em>Physical Review B</em>, 94(16), 165135 (2016)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevA.94.062106" target="_blank">
            Anisotropic Landau-Lifshitz-Gilbert model of dissipation in qubits
          </a><br/>
          PJD Crowley, AG Green<br/>
<em>Physical Review A</em>, 94(6), 062106 (2016)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevB.93.085143" target="_blank">
            Pfaffian-like ground states for bosonic atoms and molecules in 1D optical lattices
          </a><br/>
          T Durić, N Chancellor, PJD Crowley, P Di Cintio, AG Green<br/>
<em>Physical Review B</em>, 93(8), 085143 (2016)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevA.90.042317" target="_blank">
            Quantum and classical dynamics in adiabatic computation
          </a><br/>
          PJD Crowley, T Durić, W Vinci, P Warburton, AG Green<br/>
<em>Physical Review A</em>, 90(4), 042317 (2014)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevA.89.023845" target="_blank">
            Trade-off in simultaneous quantum-limited phase and loss estimation in interferometry
          </a><br/>
          PJD Crowley, A Datta, M Barbieri, I Walmsley<br/>
<em>Physical Review A</em>, 89(2), 023845 (2014)
        </li>
<li>
<a href="https://doi.org/10.1103/PhysRevA.87.022313" target="_blank">
            Strategies for enhancing quantum entanglement by local photon subtraction
          </a><br/>
          TJ Bartley, PJD Crowley, A Datta, J Nunn, L Zhang, I Walmsley<br/>
<em>Physical Review A</em>, 87(2), 022313 (2013)
        </li>
</ol>
</section>